body {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background-color: #1a1918;
    color: #000;
}

#carrito{
    position: center;
    max-width: 300px;
    margin: 20px auto;
    background-color: #FFF;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.productos{
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #1a5da5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    background-color: #e02b2b;
    text-align: center;
    margin-bottom: 20px;
}

.logo{
    position: center;
    right: 7%; 
    top: 25%;
    width:200px;
    height: auto;
    border-radius: 30px;
}

.clickable-logo {
    cursor: pointer;
    transition: opacity 0.3s; /* Opcional: a침ade un efecto de transici칩n al pasar el mouse por encima */
    width: 200px;
    height: auto;
}

.clickable-logo:hover {
    opacity: 0.8; /* Opcional: hace que la imagen se vea ligeramente transparente al pasar el mouse por encima */
    
}

h2{
    color: #e4e4e4;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-align: center;

}

.botonn {
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s; /* Opcional: a침ade un efecto de transici칩n al pasar el mouse por encima */
    width: 20% ;
    height: auto;

}

li {
    color: #000;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 18px;
    position: center;
    text-align: center;
}

label {
    font-weight: bold;
}
