body {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background-color: #1a1918;
    
}

.productos{
    color: aliceblue;
    font-size: 200%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.producto1 {
    border: 5px solid #b81d1d;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    height: 500px;
}
.producto2 {
    border: 5px solid #d1a11b;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    height: 500px;
}
.producto3 {
    border: 5px solid #d66764;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    height: 500px;
}

button {
    background-color: #1a5da5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    background-color: #e02b2b;
    text-align: center;
}
.logo {
    right: 7%; 
    top: 20%;
    width: 230px;
    height: 220px;
  }
  
.res-carne{
    position: center;
    right: 7%; 
    top: 25%;
    width:350px;
    height: 350px;
    
    border-radius: 30px;
}

  label {
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    height: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #e02b2b;
    border-radius: 5px;
}
.carritoo{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 7%;
    top: 12%
    
}
  
