body {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background-color: #1a1918;
    
}

#carrito{
    position: absolute;
}

.productos{
    color: aliceblue;
    font-size: 200%;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #1a5da5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    background-color: #e02b2b;
    text-align: center;
}
.logo {
    right: 7%; 
    top: 20%;
    width: 230px;
    height: 220px;
  }
  

  label {
    font-weight: bold;
}


#carrito{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 42%;
}
  
li {
    color: white;
    position: relative;
}