body {
  font-family: 'Nunito', sans-serif;
  margin: 40px;
  /*background-color: rgb(235, 25, 58);*/
  background-color: #000000;
}

#adder{
background-color: #f2f2f2;
color: #e02b2b;
border: none;
padding: 10px 20px;
cursor: pointer;
position: absolute;
top: 90%;  /* Center vertically */
left: 51.7%; /* Center horizontally */
transform: translate(-50%, -50%); /* Center the button */
}

button {
background-color: #f2f2f2;
color: #e02b2b;
border: none;
padding: 10px 20px;
cursor: pointer;
position: relative;
top: 50%;  /* Center vertically */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%); /* Center the button */
}

button:hover, #adder:hover {
background-color: #df2a2a;
color: white;
}

.contenedor {
  background-color: #e02b2b;
  text-align: absolute;
  width: 200px;
  height: 200px;
  
}
.logo {
  position: center;
  width: 95%;
  height: auto;
  right: 5px;
  
}

.clickable-logo {
cursor: pointer;
transition: opacity 0.3s; /* Opcional: añade un efecto de transición al pasar el mouse por encima */
width: 95%;
height: auto;
}

.clickable-logo:hover {
opacity: 0.8; /* Opcional: hace que la imagen se vea ligeramente transparente al pasar el mouse por encima */

}


.res-carne {
  width: auto; /* Allow it to adjust to screen width */
  max-width: 100%; /* Limit the width to 100% of the parent container */
  position: relative;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element */
  border-radius: 30px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 50px;
  height: 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #e02b2b;
  border-radius: 5px;
}
.carritoo{
  position: absolute;
  width: 150px;
  height: 150px;
  
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 700px;
position: relative;
margin: auto;
clip-path: inset(0 12.8% 0 0);

}
h1 {
  font-family: 'Roboto slab', sans-serif;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 45%;
  margin-top: 20px;
  font-size: 100px;
  color: #f7f7f7;
}

.carrito_extranjero{
position: absolute;
right: 0%; 
top: 7%;
width: 30%;
}
.clickable_carrito_extranjero{
cursor: pointer;
transition: opacity 0.3s; /* Opcional: añade un efecto de transición al pasar el mouse por encima */
width: 35% ;
}
.clickable_carrito_extranjero:hover {
opacity: 0.8; /* Opcional: hace que la imagen se vea ligeramente transparente al pasar el mouse por encima */
}



/* Hide the images by default */
.mySlides img{
border: 3px solid rgb(255, 255, 255);


}

/* Next & previous buttons */
.prev, .next {
  display: none;
}



/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
top: 90%;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: none !important;  /* Esto ocultará los elementos con la clase "dot" */
}


.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

