body {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background-color: #f7d9b4;
    
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

button {
    background-color: #1a5da5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    background-color: #e02b2b;


    text-align: center;
}
.logo {
    position: center;
    right: 7%; 
    top: 25%;
    width: 350px;
    height: 350px;
  }

  label {
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    height: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #e02b2b;
    border-radius: 5px;
}
  
