body {
    font-family: Helvetica, sans-serif;
    margin: 40px;
    background-color: #f7d9b4;
    
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

button {
    background-color: #1a5da5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
  }
  